@import url(~bootstrap/dist/css/bootstrap.min.css);

html, body, .app {

    width: 100vw;
    height: 100vh;
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

th {
    font-weight: 600;
    text-transform: capitalize;
}

.text-mono {
    font-family: var(--font-family-monospace);
}

.gameHistory {

    width: 300px;
}

.row-alerts {

    height: 5rem;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}




