
.board {
    width: 300px;
}

.cell {

    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 4rem;
    transition: all .07s ease, scale .2s linear;
    border: .2rem solid var(--gray);
}

.cell:hover {
    transform: scale(1.05);
}

.cell.cell-winner {

    color: var(--green);
}


@media all and (min-width: 1199px) {

    .board {
        width: calc(150px * 3);
    }

    .cell {
        width: 150px;
        height: 150px;
    }
}
