
.cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 4rem;
    transition: all .07s ease;
    border: .2rem solid var(--white);
}

.board {
    width: calc(100px * 3);
}



.cell.cell-winner {

    color: var(--green);
}


.board > .row:nth-child(1) > .cell {

    border-top: none;
}

.row > .cell:nth-child(1) {

    border-left: none;

}

.row > .cell:last-child {

    border-right: none;

}


.board > .row:last-child > .cell {

    border-bottom: none;
}

@media all and (min-width: 1199px) {

    .board {
        width: calc(150px * 3);
    }

    .cell {
        width: 150px;
        height: 150px;
    }
}
